.btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;

    font-family: var(--font0primary);
    font-size: clamp(.9375rem, 2vw, 1.125rem);
    font-weight: 700;

    transition: .4s;

    text-align: center;
    line-height: 1.4;

    &.solid {
        background-color: var(--color-blue1);
        color: var(--color-white);

        &:hover {
            filter: brightness(1.1);
        }
    }

    &.md {
        height: 3.625rem;
        padding: 0 40px;
    }

    &.lg {
        height: 4.8125rem;
        padding: 0 clamp(20px, 2vw, 60px);
    }

    &.full {
        height: 4.8125rem;
        width: 100%;
    }

}