%fieldProps {
    width: 100%;
    background: var(--color-gray);
    font-family: var(--font-primary);
    font-size: 0.875rem;
    font-weight: 400;
    color: var(--color-black);
}

.fieldBox {
    width: 100%;


    label {
        display: block;
        font-family: var(--font-primary);
        font-size: 14px;
        font-weight: 700;
        margin-bottom: 8px;
    }

    input {
        @extend %fieldProps;
        height: 2.875rem;
        padding: 0 20px;
    }

    select {
        @extend %fieldProps;
        height: 2.875rem;
        padding: 0 20px;
    }

    textarea {
        height: 6.8125rem;
        @extend %fieldProps;
        padding: 15px 20px;
        resize: none;

    }
}
